extend ../../layouts/default.pug
include ../../mixins/options.pug

block main 
  .container
    .row
      .col-12
        h1 Tạo danh mục bài viết
    .card-body.pt-0
      form(id="createCategoryForm")
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên danh mục *
              input.form-control(
                id="name"
                name="name"
                type="text"
                )
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="parentCategory") Tên danh mục cha
              select.form-control(
                id="parentCategory"
                name="parentCategory"
                )
                option(value="") -- Chọn danh mục cha --
                +options(categories, 0)
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="description") Mô tả danh mục
              textarea.form-control(
                id="description"
                name="description"
                rows="3"
                )
        button.btn.btn-primary(type="submit") Submit
        button.btn.btn-danger.ms-2(type="button") Cancel