extend ../../layouts/default.pug
include ../../mixins/options.pug

block main 
  .container
    .row
      .col-12
        h1 Tạo bài viết
    .card-body.pt-0
      form(id="createPostForm")
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên bài viết *
              input.form-control(
                id="name"
                name="name"
                type="text"
                )
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="slug") Đường dẫn *
              .input-group
                span.btn.btn-outline-info(
                  btn-generate-slug="Post"
                  from="name"
                  to="slug"
                ) Tự động
                input.form-control(id="slug" name="slug" type="text")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="status") Trạng thái
              select.form-control(
                id="status"
                name="status"
                )
                  option(value="active") Hoạt động
                  option(value="inactive") Dừng hoạt động
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="parentCategory") Tên danh mục cha
              select.form-control(
                id="parentCategory"
                name="parentCategory"
                )
                option(value="") -- Chọn danh mục cha --
                +options(categories, 0)
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="description") Mô tả bài viết
              textarea.form-control(
                id="description"
                name="description"
                rows="3"
                )
        button.btn.btn-primary(type="submit") Submit
        button.btn.btn-danger.ms-2(type="button") Cancel